<div class="flex justify-center items-center mt-6">

    <button class="border border-gray-400 px-4 py-1 bg-slate-50 prev hover:bg-slate-100"
        (click)="paginaAnterior()"
        [disabled]="paginaAtual === 1"
        >
        <
    </button>
<span class="border border-gray-400 px-2 bg-slate-50 py-1">
    Página {{ paginaAtual }} de {{ totalDePaginas }}
</span>
  
    <button class="border border-gray-400 px-4 py-1 bg-slate-50 next hover:bg-slate-100"
        (click)="proximaPagina()"
        [disabled]="paginaAtual === totalDePaginas"
        >
        >
    </button>
</div>


